mixin escort()
	section.escort
		.container
			.row
				.col-xl.order-xl-1
					h2.escort__title Детей будут сопровождать
					p.escort__subtitle Руководители компании с 19-летним опытом проведения выездных туров. Это их любимый
						| авторский проект, отточенный до мелочей. Они знают Англию как свои пять пальцев и помогают
						| ребятам за девять дней совершить невероятное путешествие и влюбиться в английский язык!
				.col-xl-6.order-xl-2.pl-xl-0
					ul.escort__slider.js-slider-escort
						li.escort__slide
							img(data-src="img/content/people-1-ds.jpg" alt="Сергей Афанаскин").escort__img.lazyload.blur-up
							cite.escort__name Сергей Афанаскин
							span.escort__position Директор Центра иностранных языков YES
						li.escort__slide
							img(data-src="img/content/people-2-ds.jpg" alt="Екатерина Афанаскина").escort__img.lazyload.blur-up
							cite.escort__name Екатерина Афанаскина
							span.escort__position Заместитель директора Центра иностранных языков YES
				.col-xl-6.order-xl-2
					a(href="#order").escort__submit.btn.js-go-order Отправить заявку
