mixin escort()
	section.escort
		.container
			.row
				.col-xl.order-xl-1
					h2.escort__title Детей будут сопровождать
					p.escort__subtitle Руководители с девятьнадцатилетним опытом проведения выездных туров.
						| Очень мало текста, надо дописать. Очень мало текста, надо дописать.
						| Очень мало текста, надо дописать.
				.col-xl-6.order-xl-2.pl-xl-0
					ul.escort__slider.js-slider-escort
						li.escort__slide
							img(src="img/content/people-1-ds.jpg").escort__img
							cite.escort__name Сергей Афанаскин
							span.escort__position Директор Центра иностранных языков YES
						li.escort__slide
							img(src="img/content/people-2-ds.jpg").escort__img
							cite.escort__name Екатерина Афанаскина
							span.escort__position Заместитель директора Центра иностранных языков YES
				.col-xl-6.order-xl-2
					button.escort__submit.btn Отправить заявку
