// В этом файле должны быть стили для БЭМ-блока .escort , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.escort {
	padding-top: 25px;
	padding-bottom: 32px;
	@media (min-width: $screen-md) {
		padding-top: 53px;
		padding-bottom: 57px;
	}
	@media(min-width: $screen-xl) {
		padding-top: 89px;
		padding-bottom: 67px;
	}
	&__title {
		max-width: 167px;
		margin-bottom: 17px;
		line-height: 26px;
		letter-spacing: 0.72px;
		@media (min-width: $screen-md) {
			margin-bottom: 19px;
			max-width: 100%;
			letter-spacing: 1.12px;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 35px;
			max-width: 500px;
			width: 100%;
			padding-top: 5px;
		}
	}
	&__subtitle {
		margin-bottom: 25px;
		opacity: 0.6;
		color: rgba(#191919, .6);
		line-height: 24px;
		letter-spacing: 0.28px;
		@media (min-width: $screen-md) {
			margin-bottom: 40px;
			font-size: 17px;
			line-height: 28px;
			letter-spacing: 0.34px;
		}
		@media(min-width: $screen-xl) {
			max-width: 460px;
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__slider {
		margin-bottom: 25px;
		margin-right: -24px;
		@media (min-width: $screen-md) {
			margin-bottom: 42px;
			margin-right: 0;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 0;
		}
	}
	&__slide {
		max-width: 192px;
		margin-right: 10px;
		@media (min-width: $screen-md) {
			margin-right: 62px;
			max-width: 280px;
		}
	}
	.escort__img {
		display: inline-block;
		vertical-align: top;
	}
	&__img {
		margin-bottom: 12px;
		background-size: 50%;
		width: 169px;
		height: 169px;
		overflow: hidden;
		@media (min-width: $screen-md) {
			width: 192px;
			height: 192px;
			margin-bottom: 27px;
		}
	}
	&__name {
		display: block;
		margin-bottom: 4px;
		font-family: "Intro", sans-serif;
		font-size: 18px;
		line-height: 26px;
		font-style: normal;
		@media (min-width: $screen-md) {
			margin-bottom: 9px;
			font-size: 24px;
			line-height: 26px;
		}
	}
	&__position {
		color: rgba(#000000, .5);
		font-family: "Open Sans", sans-serif;
		line-height: 20px;
		letter-spacing: 0.28px;
		@media (min-width: $screen-md) {
			display: block;
			line-height: 24px;
			max-width: 225px;
		}
	}
	.slick-dots {
		padding-top: 4px;
		margin-bottom: 25px;
		margin-right: 25px;
	}
}