mixin package()
	section.package
		.container
			.package__title В пакет включено:
			.row
				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-1.svg")
						p.package__text Прямой перелет Москва—Лондон—Москва

				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-icon-3.svg")
						p.package__text 5 трансверов От отеля до аэропорта или вокзала

				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-icon-4.svg")
						p.package__text Проезд на поезде Лондон—Эдинбург—Лондон

				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-icon-5.svg")
						p.package__text Проживание в отелях в Лондоне и Эдинбурге

				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-icon-6.svg")
						p.package__text Медицинская страховка на весь срок поездки

				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-icon-7.svg")
						p.package__text Завтраки

				.col-md-6.col-xl-4
					.package__item
						.package__icon
							img(src="img/svg/enabled-icon-8.svg")
						p.package__text Обеды и ужины в стоимость не входят


