mixin package()
	section.package
		.container
			h2.package__title В пакет включено:
			.row
				.col-md-6.col-xl-4.order-md-1
					.package__item
						.package__icon.package__icon--flight
							img(data-src="img/svg/enabled-1.svg" width="29" height="30" alt="Прямой перелет Москва—Лондон—Москва").lazyload.blur-up
						p.package__text Прямой перелет
							span  Москва—Лондон—Москва

				.col-md-6.col-xl-4.order-md-3.order-xl-4
					.package__item
						.package__icon.package__icon--trnasfer-aerport
							img(data-src="img/svg/enabled-icon-4.svg" width="25" height="29" alt="Проезд на поезде Лондон—Эдинбург—Лондон").lazyload.blur-up
						p.package__text Проезд на поезде
							span  Лондон—Эдинбург—Лондон

				.col-md-6.col-xl-4.order-md-5.order-xl-7
					.package__item
						.package__icon.package__icon--medical
							img(data-src="img/svg/enabled-icon-7.svg" width="30" height="30" alt="Медицинская страховка на весь срок поездки").lazyload.blur-up
						p.package__text Медицинская страховка на весь срок поездки
				.col-md-6.col-xl-4.order-md-2
					.package__item.pl-md-3.pl-xl-2
						.package__icon.package__icon--transfer
							img(data-src="img/svg/enabled-icon-2.svg" width="25" height="29" alt="5 трансферов От отеля до аэропорта или вокзала").lazyload.blur-up
						p.package__text 5 трансферов
							span  От отеля до аэропорта или вокзала


				.col-md-6.col-xl-4.order-md-4
					.package__item.pl-xl-2.pl-md-3.pl-xl-0
						.package__icon.package__icon--hotel
							img(data-src="img/svg/enabled-icon-5.svg" width="30" height="27" alt="Проживание в отелях в Лондоне и Эдинбурге").lazyload.blur-up
						p.package__text Проживание в отелях в Лондоне и Эдинбурге

				.col-md-6.col-xl-4.order-md-6.order-xl-7
					.package__item.pl-md-3.pl-xl-2
						.package__icon.package__icon--excursion
							img(data-src="img/svg/enabled-icon-8.svg" width="22" height="30" alt="15 экскурсий с тематическими заданиями на английском языке").lazyload.blur-up

						p.package__text 15 экскурсий
							span  с тематическими заданиями на английском языке

				.col-md-6.col-xl-4.order-md-7.order-xl-3
					.package__item.pl-xl-2
						.package__icon.package__icon--breakfast
							img(data-src="img/svg/enabled-icon-3.svg" width="30" height="30" alt="Завтраки").lazyload.blur-up
						p.package__text Завтраки

				.col-md-6.col-xl-4.order-md-8.order-xl-6
					.package__item.pl-md-3.pl-xl-2
						.package__icon.package__icon--price
							img(data-src="img/svg/enabled-icon-6.svg" width="22" height="32" alt="Обеды и ужины в стоимость не входят").lazyload.blur-up
						p.package__text Обеды и ужины в стоимость не входят


