// В этом файле должны быть стили для БЭМ-блока .package , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.package {
	padding-top: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	@media (min-width: $screen-md) {
		padding-top: 35px;
		padding-bottom: 10px;
	}
	@media (min-width: $screen-xl) {
		padding-top: 74px;
		padding-bottom: 47px;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		@media (min-width: $screen-md) {
			margin-bottom: 48px;
		}
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		margin-right: 16px;
		border-radius: 50%;
		background-color: #d52833;
		flex: none;
		@media (min-width: $screen-md) {
			width: 96px;
			height: 96px;
			margin-right: 23px;
		}
		img {
			position:relative;
		}
		&--flight {
			transform: rotate(-45deg);
			img {
				bottom: 1px;
				left: 1px;
			}
			@media (min-width: $screen-md) {
				img {
					width: 58px;
					height: 58px;
				}
			}
		}
		&--transfer {
			@media (min-width: $screen-md) {
				img {
					width: 50px;
					height: 57px;
				}
			}
		}
		&--medical {
			@media (min-width: $screen-md) {
				img {
					width: 58px;
					height: 58px;
				}
			}
		}
		&--trnasfer-aerport {
			@media (min-width: $screen-md) {
				img {
					width: 59px;
					height: 53px;
				}
			}
		}
		&--hotel {
			@media (min-width: $screen-md) {
				img {
					width: 58px;
					height: 58px;
				}
			}
		}
		&--excursion {
			@media (min-width: $screen-md) {
				img {
					width: 44px;
					height: 59px;
				}
			}
		}
		&--breakfast {
			@media (min-width: $screen-md) {
				img {
					width: 59px;
					height: 59px;
					bottom: 4px;
					left: 2px;
				}
			}
		}
		&--price {
			position: relative;
			background-color: #fff;
			border: 4px solid #B82833;
			overflow: hidden;
			&::before {
				content: '';
				width: 130px;
				position: absolute;
				left: 50%;
				height: 2px;
				transform: translateX(-50%) rotate(-45deg);
				background-color: #b82833;
				z-index: 1;
				@media (min-width: $screen-md) {
					height: 4px;
				}
			}
			@media (min-width: $screen-md) {
				img {
					width: 59px;
					height: 46px;
					bottom: 5px;
				}
			}
		}
	}
	&__title {
		margin-bottom: 12px;
		line-height: 2.33;
		@media (min-width: $screen-md) {
			margin-bottom: 23px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 41px;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 1.43;
		margin: 0;

		@media (min-width: $screen-md) {
			font-size: 15px;
			line-height: 1.47;
		}
	}
}