mixin package()
	section.package
		.container
			h2.package__title В пакет включено:
			.row
				.col-md-6.col-xl-4
					.package__item
						.package__icon.package__icon--flight
							img(src="img/svg/enabled-1.svg" width="29" height="30")
						p.package__text Прямой перелет Москва—Лондон—Москва

				.col-md-6.col-xl-4
					.package__item.pl-md-2.pl-xl-2
						.package__icon.package__icon--transfer
							img(src="img/svg/enabled-icon-2.svg" width="25" height="29")
						p.package__text 5 трансферов от отеля до аэропорта или вокзала

				.col-md-6.col-xl-4
					.package__item.pl-xl-2
						.package__icon.package__icon--medical
							img(src="img/svg/enabled-icon-7.svg" width="30" height="30")
						p.package__text Медицинская страховка на весь срок поездки
				.col-md-6.col-xl-4
					.package__item.pl-md-2.pl-xl-0
						.package__icon.package__icon--trnasfer-aerport
							img(src="img/svg/enabled-icon-4.svg" width="25" height="29")
						p.package__text Проезд на поезде Лондон—Эдинбург—Лондон

				.col-md-6.col-xl-4
					.package__item.pl-xl-2
						.package__icon.package__icon--hotel
							img(src="img/svg/enabled-icon-5.svg" width="30" height="27")
						p.package__text Проживание в отелях в Лондоне и Эдинбурге

				.col-md-6.col-xl-4
					.package__item.pl-md-2.pl-xl-2
						.package__icon.package__icon--excursion
							img(src="img/svg/enabled-icon-8.svg" width="30" height="23")

						p.package__text 15 экскурсий с тематическими заданиями на английском языке

				.col-md-6.col-xl-4
					.package__item
						.package__icon.package__icon--breakfast
							img(src="img/svg/enabled-icon-3.svg" width="29" height="29")
						p.package__text Завтраки

				.col-md-6.col-xl-4
					.package__item.pl-md-2.pl-xl-2
						.package__icon.package__icon--price
							img(src="img/svg/enabled-icon-6.svg" width="22" height="32")
						p.package__text Обеды и ужины в стоимость не входят


