// В этом файле должны быть стили для БЭМ-блока .request , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.request {
	position: relative;
	background-color: #eff2f4;
	padding-top: 32px;
	@media(min-width: $screen-xl) {
		min-height: 688px;
	}
	@media (min-width: $screen-md) {
		padding-top: 0;
	}
	&__form {
		@media (min-width: $screen-md) {
			position: absolute;
			top: 55px;
			left: 0;
		}
		@media(min-width: $screen-xl) {
			position: relative;
			top: 64px;
			z-index: 1;
		}
	}
	&__map {
		width: 100%;
		@media(min-width: $screen-xl) {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		iframe {
			width: 100%;
			@media (min-width: $screen-md) {
				min-height: 680px;
			}
			@media(min-width: $screen-xl) {
				min-height: 688px;
			}
		}
	}
}

.form {
	max-width: 384px;
	padding: 5px 16px 32px;
	background-color: #fff;
	@media (min-width: $screen-md) {
		padding: 8px 29px 49px;
	}
	@media(min-width: $screen-xl) {
	    max-width: 440px;
	}
	@media(min-width: $screen-xl) {
		padding: 7px 53px 49px 46px;
	}
	&__title {
		font-family: "Intro", sans-serif;
		font-size: 22px;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		@media (min-width: $screen-md) {
			font-size: 30px;
			line-height: 42px;
			letter-spacing: 1.5px;
		}
		@media(min-width: $screen-xl) {
			font-size: 32px;
			line-height: 42px;
			letter-spacing: 1.6px;
		}
	}
	&__subtitle {
		line-height: 18px;
		letter-spacing: 0.28px;
		color: #363636;
		@media (min-width: $screen-md) {
			margin-bottom: 26px;
			line-height: 18px;
			letter-spacing: 0.28px;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 29px;
		}
	}
	&__field {
		display: block;
		margin-bottom: 10px;
		padding: 8px 0;
		width: 100%;
		border: none;
		border-bottom: 3px solid #353535;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.28px;
		@media (min-width: $screen-md) {
			margin-bottom: 16px;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 18px;
		}
	}
	&__conf {
		color: #363636;
		margin-top: 27px;
		margin-bottom: 26px;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.26px;
		@media (min-width: $screen-md) {
			margin-top: 38px;
		}
		@media(min-width: $screen-xl) {
			margin-top: 36px;
			margin-bottom: 29px;
		}
		a {
			color: #d32a33;
		}

	}
	&__submit {
		max-width: 100%;
	}
}