// В этом файле должны быть стили для БЭМ-блока .request , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.request {
	position: relative;
	background-color: #eff2f4;
	padding-top: 32px;
	@media(min-width: $screen-xl) {
		min-height: 688px;
	}
	@media (min-width: $screen-md) {
		padding-top: 0;
	}
	&__form {
		position:relative;
		margin-bottom: -32px;
		@media (min-width: $screen-md) {
			position: absolute;
			top: 55px;
			left: 0;
			margin-bottom: 0;
		}
		@media(min-width: $screen-xl) {
			position: relative;
			top: 64px;
			z-index: 1;
		}
	}
	&__map {
		width: 100%;
		font-size: 0;
		@media(min-width: $screen-xl) {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		iframe {
			width: 100%;
			min-height: 426px;
			@media (min-width: $screen-md) {
				min-height: 673px;
			}
			@media(min-width: $screen-xl) {
				min-height: 688px;
			}
		}
	}
}

.form {
	max-width: 384px;
	padding: 5px 16px 32px;
	background-color: #fff;
	@media (min-width: $screen-md) {
		padding: 8px 29px 49px;
	}
	@media(min-width: $screen-xl) {
	    max-width: 440px;
	}
	@media(min-width: $screen-xl) {
		padding: 7px 53px 49px 46px;
	}
	&.call-back {
		max-width: 100%;
		@media (min-width: $screen-md) {
			max-width: 481px;
			padding: 13px 48px 49px 46px;
		}
		.form__title {
			padding-right: 50px;
			margin-bottom: 0;
			@media (min-width: $screen-md) {
				padding-right: 0;
				font-size: 28px;
				line-height: 37px;
			}
			@media(min-width: $screen-xl) {
				letter-spacing: 1.12px;
			}
		}
		.form__subtitle {
			color: #000000;
			font-size: 14px;
			line-height: 26px;
			letter-spacing: 0.28px;
			margin-bottom: 26px;
		}
		.form__conf {
			@media (min-width: $screen-md) {
				margin-top: 34px;
				margin-bottom: 24px;
			}
		}
		.form__field {
			&:last-of-type {
				margin-bottom: 29px;
			}
		}
	}
	&.success-order {
		.form__title {
			margin-bottom: 18px;
		}
		.form__subtitle {
			max-width: 227px;
			margin-bottom: 45px;
			line-height: 22px;
			letter-spacing: 0.28px;
			span {
				display: block;
			}
		}
	}
	&__title {
		margin-bottom: 23px;
		font-family: "Intro", sans-serif;
		font-size: 22px;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		@media (min-width: $screen-md) {
			margin-bottom: 15px;
			font-size: 30px;
			line-height: 42px;
			letter-spacing: 1.5px;
		}
		@media(min-width: $screen-xl) {
			letter-spacing: 1.6px;
		}
	}
	&__close {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 50px;
		font-size: 0;
		border: none;
		background: transparent url(../img/svg/icon-close.png) center no-repeat;
		transition: 0.15s ease-in;
		cursor: pointer;
		&:hover {
			transform: rotate(-90deg);
		}
	}
	&__subtitle {
		margin-top: 0;
		line-height: 18px;
		letter-spacing: 0.28px;
		color: #363636;
		@media (min-width: $screen-md) {
			margin-bottom: 23px;
			line-height: 18px;
			letter-spacing: 0.28px;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 29px;
		}
	}
	&__label {
		margin-top: 0;
		margin-bottom: 0;
		line-height: .8;
		color: rgba(#363636, .6);
		letter-spacing: 0.28px;
	}
	&__field-group {
		display: flex;
		justify-content: space-between;
	}
	&__select {

	}
	&__field {
		display: block;
		margin-bottom: 10px;
		padding: 8px 0;
		width: 100%;
		border: none;
		border-bottom: 3px solid #353535;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 0.28px;
		&:focus {
			outline: none;
			border-color: #d52833;
		}
		@media (min-width: $screen-md) {
			margin-bottom: 18px;
		}
	}
	&__conf {
		color: #363636;
		margin-top: 27px;
		margin-bottom: 26px;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.26px;
		@media (min-width: $screen-md) {
			margin-bottom: 41px;
			margin-top: 38px;
		}
		@media(min-width: $screen-xl) {
			margin-top: 36px;
			margin-bottom: 29px;
		}
		a {
			color: #d32a33;
		}

	}
	&__submit {
		max-width: 100%;
	}
	&__select-wrap {
		position:relative;
		flex-grow: 1;
		&:first-child {
			margin-right: 48px;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: -32px;
				width: 14px;
				height: 2px;
				background-color: #c7c7c7;
			}
		}
	}
}

.SumoSelect {
	width: 100%;
	max-width: 100%;
}
.SumoSelect > .CaptionCont {
	border: none;
	border-bottom: 3px solid #000;
}
.SelectBox {
	padding: 7px 17px 7px 16px;
}
.SumoSelect > .CaptionCont > span {
	color: #363636;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.28px;
}
.SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
	box-shadow: none;
	border-color: #000;
}
.SumoSelect > .CaptionCont > label > i {
	background-image: url(../img/svg/arrow-bottom.png);
	width: 10px;
	height: 6px;
	opacity: 1;
	right: 0;
	top: 5px;
}
.SumoSelect > .CaptionCont > label {
	width: 44px;
}
.SumoSelect > .optWrapper > .options {
	max-height: 300px;
	padding-top: 6px;
	padding-bottom: 8px;
}
.SumoSelect > .optWrapper {
	border-radius: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.SumoSelect.open > .optWrapper {
	top: 100%;
}
.SumoSelect:focus > .CaptionCont, .SumoSelect.open > .CaptionCont {
	box-shadow: none;
	border-color: #000;
}
.SumoSelect > .optWrapper > .options > li.opt:first-child {
	border-radius: 0;
}
.SumoSelect > .optWrapper > .options li.opt {
	border-bottom: none;
	padding: 0 15px;
}
.SumoSelect > .optWrapper > .options li label {
	color: #363636;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.28px;
}
.opt.selected  label{
	color: #d32a33 !important;
	font-weight: 700;
	letter-spacing: 0.28px;
}
.SumoSelect > .optWrapper > .options li.opt:hover {
	background-color: transparent;
}
.SumoSelect > .optWrapper > .options li.opt:hover label{
	color: #d32a33;

}
label {
	margin-bottom: 0;
}