
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')

		//- Edge и ряд мобильных браузеров автоматом преобразуют телефоны в ссылки. Отключить если не нужно.
		meta(name='format-detection', content='telephone=no')

		block title
			title Home

		block head
			link(rel="stylesheet" href="css/libs/slick.css")
			link(rel="stylesheet" href="css/libs/jquery.fancybox.min.css")
			link(rel="stylesheet" href="css/libs/magnify.css")
			link(rel="stylesheet" href="css/libs/jQuery.Brazzers-Carousel.min.css")
			block css_libs

			link(rel="stylesheet" href="css/template.css")

	body

		block header

		main.content
			block content

		block footer


		script(src="js/libs/jquery.min.js")
		block js_libs

		script(src="js/main.js")
