mixin reviews()
	section.reviews
		.container
			h2.reviews__title Видео отзывы
			.reviews__arrows-wrap
				ul.reviews__slider.js-reviews-slider
					li.reviews__slide
							.tours__video.embed-responsive.embed-responsive-16by9
								iframe( class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/fUYKHUH1VvI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					li.reviews__slide
							.tours__video.embed-responsive.embed-responsive-16by9
								iframe( class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/fUYKHUH1VvI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)


