mixin story-photo()
	.story-photo
		.container
			h2.story-photo__title Мы провели более 40 выездных туров
			p.story-photo__subtitle С нами отправились в путешествие более 850 ребят
		ul.story-photo__slider.js-story-photo
			li.story-photo__slide
				img(src="img/content/1.Языковой практикум, Англия-Шотландия, июнь 2017.jpg" alt="1.Языковой практикум, Англия-Шотландия, июнь 2017").story-photo__img
				p.story-photo__desc Англия-Шотландия, июнь 2017
			li.story-photo__slide
				img(src="img/content/2.Языковой практикум, Мальта, июль 2015.jpg" alt="Языковой практикум, Мальта, июль 2015").story-photo__img
				p.story-photo__desc Мальта, июль 2015
			li.story-photo__slide
				img(src="img/content/3.Языковой практикум, Лондон, март 2017.jpg" alt="Языковой практикум в Лондоне, март 2017").story-photo__img
				p.story-photo__desc Лондон, март 2017
			li.story-photo__slide
				img(src="img/content/Языковой практикум, Сочи, июль 2015.jpg" alt="Сочи, февраль 2015").story-photo__img
				p.story-photo__desc Сочи, февраль 2015
			li.story-photo__slide
				img(src="img/content/Языковой практикум, Лондон-Париж, март 2013.jpg" alt="Языковой практикум, Лондон-Париж, март 2013").story-photo__img
				p.story-photo__desc Лондон-Париж, март 2013
			li.story-photo__slide
				img(src="img/content/Языковой практикум, Словакия, январь 2010.jpg" alt="Языковой практикум, Словакия, январь 2010").story-photo__img
				p.story-photo__desc Словакия, январь 2010
