mixin story-photo()
	.story-photo
		.container
			h2.story-photo__title Мы провели более 40 выездных туров
			p.story-photo__subtitle С нами отправились в путешествие более 850 ребят
		ul.story-photo__slider.js-story-photo
			li.story-photo__slide
				img(src="img/content/toor-photo-1-ds.jpg").story-photo__img
				p.story-photo__desc Сочи, февраль 2015
			li.story-photo__slide
				img(src="img/content/toor-photo-2-ds.jpg").story-photo__img
				p.story-photo__desc Языковой практикум в Лондоне, март 2017
			li.story-photo__slide
				img(src="img/content/toor-photo-1-ds.jpg").story-photo__img
				p.story-photo__desc Римские каникулы
			li.story-photo__slide
				img(src="img/content/toor-photo-2-ds.jpg").story-photo__img
				p.story-photo__desc Языковой практикум в Лондоне, март 2017