mixin advantage()
	.advantage
		.container
			h2.advantage__title Плюсы для участников тура
			.row.js-advantage-slider
				.col-md-6.col-xl-3
						.advantage__item
							h3.advantage__subject Увлекательное обучение
							p.advantage__desc
								|	Тур вместе с YES — это интенсивная языковая практика в виде увлекательных квестов.
								| Во время прохождения каждого из них участники узнают много новой информации и смогут лучше закрепить знания.
								| Мы будем тренировать наши языковые навыки с утра до вечера в самых разных ситуациях.
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Разговорим молчунов
						p.advantage__desc
							| Языковой барьер просто растворится в многочисленных заданиях и спонтанных разговорных ситуациях. Ребята научатся спокойно и непринужденно общаться
							| на иностранном языке как со своими товарищами по команде, так
							| и с иностранцами.
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Финансовая дисциплина
						p.advantage__desc
							| Мы научимся правильно тратить наши деньги, отдавая предпочтение первоочередным вещам и экономя
							| на затратах третьестепенных. Наша задача — научиться тратить деньги так, чтобы нам
							| их хватило на весь тур и даже ещё осталось на подарки родственникам и друзьям, а ещё лучше и домой тоже что-то привезти.
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Обучение
							span  на свежем воздухе
						p.advantage__desc
							| Каждый день нашего тура мы будем проходить в среднем около 20 километров пешком. Мы будем устраивать пикники
							| и подвижные игры в парках и на природе, сходим в небольшой поход по холмам Шотландии.
							| После такой программы ребята вернутся отдохнувшими, посвежевшими, румяными и полными сил!
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Интерес к новым знаниям
						p.advantage__desc
							| При помощи языковых заданий каждый участник тура осознает, насколько важно
							| и нужно знать второй язык. Он получит хороший пример от ребят, которые говорят по-английски лучше, увидит, насколько знание английского расширяет возможности. Всё это в конечном итоге увеличит интерес
							| к изучению второго языка.
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Эффективные экскурсии
						p.advantage__desc
							| Сможем значительно глубже, чем в обычных турах, изучить экскурсионные объекты. Выполняя задания специально разработанных квестов, ребята познакомятся и пообщаются со служащими
							| и обслуживающим персоналом отелей, кафе и музеев. Участники узнают то, о чем
							| не говорят на обычных экскурсиях,
							| и запомнят все намного лучше!
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Чувство команды
						p.advantage__desc
							| Мы научимся действовать как единое целое, помогая тем, кто помладше и учась
							| у старших. Мы будем добиваться цели, вместе проходя через трудности и радуясь общим победам.
				.col-md-6.col-xl-3
					.advantage__item
						h3.advantage__subject Вспомним
							br/ все
						p.advantage__desc
							| Мы активируем пассивный словарь и знания, накопленные за годы обучения в школе
							| и на языковых курсах. Пора применить все, что Вы знаете, и узнать еще больше!






