// В этом файле должны быть стили для БЭМ-блока .advantage , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.advantage {
	position:relative;
	padding-top: 30px;
	padding-bottom: 27px;
	padding-right: 12px;
	border-bottom: 1px solid #ebebeb;
	@media (min-width: $screen-md) {
		padding-top: 55px;
		padding-bottom: 42px;
		padding-right: 0;
	}
	@media (min-width: $screen-xl) {
		padding-top: 86px;
		padding-bottom: 25px;
	}
	&__title {
		margin-bottom: 16px;
		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 38px;
		}
	}
	&__item {
		@media (min-width: $screen-md) {
			margin-bottom: 35px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 62px;
		}
	}
	&__subject {
		color: #d52833;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		span {
			@media (min-width: $screen-md) {
				display: block;
			}
		}
		@media (min-width: $screen-md) {
			max-width: 236px;
			margin-bottom: 15px;
			font-size: 24px;
			line-height: 26px;
		}
	}
	&__desc {
		margin: 0;
		letter-spacing: 0.28px;
		line-height: 22px;
		@media (min-width: $screen-md) {
			letter-spacing: 0.28px;
		}
	}
	.slick-dots {
		padding-top: 9px;
		width: 100%;
	}
}