include ../blocks/page-top/page-top
include ../blocks/program/program
include ../blocks/timetable/timetable
include ../blocks/package/package
include ../blocks/quest/quest
include ../blocks/residence/residence
include ../blocks/info/info
include ../blocks/tours/tours
include ../blocks/advantage/advantage
include ../blocks/departure/departure
include ../blocks/escort/escort
include ../blocks/story-photo/story-photo
include ../blocks/reviews/reviews
include ../blocks/request/request
include ../blocks/footer/footer
include  ../blocks/call-back/call-back

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')

    //- Edge и ряд мобильных браузеров автоматом преобразуют телефоны в ссылки. Отключить если не нужно.
    meta(name='format-detection', content='telephone=no')

    block title
      title Home

    block head
      link(rel="stylesheet" href="css/style.css")

  body

    +page-top
    +program
    +timetable
    +quest
    +package
    +residence
    +info
    +tours
    +advantage
    +departure
    +escort
    +story-photo
    +reviews
    +request
    +footer
    +call-back

    block js_libs
      script(src="js/jquery-3.3.1.min.js")
      script(src="js/libs.js")
    script(src="js/main.js")