mixin info()
  section.info
    .container
      h2.info__title Важная информация
      button(class="info__button" type="button" data-toggle="collapse" data-target="#info-collapse" aria-expanded="false" aria-controls="info-collapse")
        | Какой авиакомпанией осуществляется перелет?
      .collapse.info__content#info-collapse
        p
          | Аэрофлот - компания с многолетней историей и хорошей репутацией, отличительными чертами которой являются удобство и надежность.

      button(class="info__button" type="button" data-toggle="collapse" data-target="#info-collapse-2" aria-expanded="false" aria-controls="info-collapse-2")
        | Как осуществляется передвижение по городу?
      .collapse.info__content#info-collapse-2
        p
          | Большую часть времени мы ходим пешком, что позволяет увидеть и почувствовать Англию и Шотландию изнутри и делает путешествие насыщенным и интересным. Большие расстояния между городами мы преодолеваем на комфортабельных автобусах.

      button(class="info__button" type="button" data-toggle="collapse" data-target="#info-collapse-3" aria-expanded="false" aria-controls="info-collapse-3")
        | Как будет организовано питание детей?
      .collapse.info__content#info-collapse-3
        p
          | Завтраки - в отеле, организованные обеды и ужины - в ресторанах и кафе - в том месте, где проходит экскурсия.

      button(class="info__button" type="button" data-toggle="collapse" data-target="#info-collapse-4" aria-expanded="false" aria-controls="info-collapse-4")
        | Что входит в страховку?
      .collapse.info__content#info-collapse-4
        p
          | Помимо стандартной страховки выезжающих за рубеж предусмотрена страховка от несчастного случая. Все это включено в стоимость путевки.
      button(class="info__button" type="button" data-toggle="collapse" data-target="#info-collapse-5" aria-expanded="false" aria-controls="info-collapse-5")
        | Как можно узнать о ребенке и связаться с ним во время путешествия?
      .collapse.info__content#info-collapse-5
        p
          | Мы ведем группу ВКонтакте  и несколько раз в день выкладываем фотографии в режиме онлайн. У родителей складывается впечатление, что они находятся рядом с детьми). Кроме того, дети всегда доступны по телефону.
      button(class="info__button" type="button" data-toggle="collapse" data-target="#info-collapse-6" aria-expanded="false" aria-controls="info-collapse-6")
        | Как это происходит?
      .collapse.info__content#info-collapse-6
        p
          | Ребята в командах выполняют различные задания, например, проведение соцопроса: «Как оценивают жители Виндзора близкое соседство с королевой?” Такая постановка задачи сама по себе рождает массу обучающих ситуаций, положительно влияющих на пробуждение спящего языкового пассива. Вежливые и расположенные к общению англичане помогают ребятам справиться с заданием и рассказывают им много дополнительной интересной информации. Фокус сдвигается с формального выполнения задачи по получению данных на живое естественное общение и получение удовольствия от самого этого процесса.
          | После девяти дней полного погружения в языковую среду Ваши дети совершат значительный прорыв в изучении английского языка, и абсолютно точно у них появится желание выучить его в совершенстве!
          |