// В этом файле должны быть стили для БЭМ-блока .info , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.info {
	padding-top: 32px;
	padding-bottom: 32px;
	&__title {
		border-bottom: 1px solid #ebebeb;
	}
	&__button {
		position:relative;
		display: block;
		width: 100%;
		border: none;
		padding: 17px 0;
		border-bottom: 1px solid #ebebeb;
		background-color: transparent;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.3px;
		text-align: left;
		color: #d32a33;
		cursor: pointer;

		&::before, &::after {
			content: '';
			position: absolute;
			top: 50%;
			height: 2px;
			width: 12px;
			transform: translateY(-50%);
			right: 0;
			background-color: #112538;
		}
		&::after {
			transform: translateY(-50%) rotate(-90deg);
		}
		&[aria-expanded="true"]{
			color: $text-color;
			border-color: transparent;
			&::after {
				display: none;
			}
		}
		&:focus {
			outline: none;
		}
	}
	&__content {
		&.show {
			border-bottom: 1px solid #ebebeb;
		}
	}
}