// В этом файле должны быть стили для БЭМ-блока .tours , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.tours {
	padding-top: 27px;
	padding-bottom: 35px;
	background-color: #f4f6f7;
	@media (min-width: $screen-md) {
		padding-top: 48px;
		padding-bottom: 56px;
	}
	@media(min-width: $screen-xl) {
		padding-top: 87px;
		padding-bottom: 96px;
	}
	&__title {
		margin-bottom: 4px;
		letter-spacing: 0.72px;
		@media (min-width: $screen-md) {
			max-width: 680px;
			letter-spacing: 1.12px;
			font-size: 28px;
			line-height: 40px;
		}
		@media(min-width: $screen-xl) {
			max-width: 700px;
			margin-bottom: 9px;
			letter-spacing: 1.2px;
		}
	}
	&__subtitle {
		margin-bottom: 20px;
		padding-right: 13px;
		line-height: 24px;
		letter-spacing: 0.28px;
		color: rgba(#191919, .6);
		@media (min-width: $screen-md) {
			margin-bottom: 31px;
			padding-right: 0;
		}
		@media(min-width: $screen-xl) {
			max-width: 1060px;
			margin-bottom: 68px;
			font-size: 17px;
			line-height: 28px;
			letter-spacing: 0.34px;
		}
	}
	&__features {
		counter-reset: section;
	}
	&__featur {
		position: relative;
		margin-bottom: 17px;
		padding-left: 40px;
		font-family: $open-sans;
		line-height: 20px;
		@media (min-width: $screen-md) {
			margin-bottom: 22px;
			padding-left: 50px;
			font-size: 15px;
			line-height: 22px;
		}
		@media(min-width: $screen-xl) {
			margin-bottom: 42px;
			padding-left: 52px;
		}
		&::before {
			counter-increment: section;
			content: counters(section, ".") ". ";
			position: absolute;
			left: 0;
			top: 0;
			font-size: 36px;
			text-transform: uppercase;
			color: #d52833;
			line-height: 1;
			font-family: "Intro", sans-serif;
			@media (min-width: $screen-md) {
				font-size: 46px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&__video {
		margin-bottom: 27px;
		@media (min-width: $screen-md) {
			margin-bottom: 0;
			margin-top: 6px;
		}
	}
	&__submit {
		margin-top: 13px;
		@media (min-width: $screen-md) {
			margin-top: 19px;
		}
		@media(min-width: $screen-xl) {
			margin-top: 21px;
		}
	}
}