mixin footer()
	.footer
		.container
			.row.justify-content-md-between
				.col-md-9
					p Частное образовательное учреждение дополнительного образования «Школа английского языка «Ес»
					p Юридический адрес: 140180, Московская область, Жуковский, Гудкова, 21
					p ИНН 5013045939 КПП 501301001
					p ОГРН 1035002607023
				.col-md-auto
					img(src="img/logo.svg" width="72" height="72" alt="Иностранные языки в Москве").footer__logo
