mixin program()
	section.program
		.container
			h2.program__title
				| Программа наших приключений
				span в англии и шотландии
			p.program__text
				| Языковая практика — это самый лучший способ выучить язык.
				| Это гораздо эффективнее, чем учить его за партой, даже если это аудитория английского колледжа.
				| Фразы, которые Ваш ребенок употребит в реальных диалогах, останутся навсегда в его памяти.
				| Благодаря нашей новой обучающей программе в каждом ребенке проснется активный коммуникатор.
		ul.program__slider.js-program-slider
			li.program__slide
				img(src="img/content/london.jpg")
				p.program__city Лондон
			li.program__slide
				img(src="img/content/no-edinburg.jpg")
				p.program__city Эдинбург
			li.program__slide
				img(src="img/content/oxford.jpg")
				p.program__city Оксфорд
			li.program__slide
				img(src="img/content/oxford.jpg")
				p.program__city Оксфорд