mixin program()
	section.program
		.container
			h2.program__title
				| Программа наших приключений
				span в англии и шотландии
			p.program__text
				| Языковая практика — это самый лучший способ выучить язык.
				| Это гораздо эффективнее, чем учить его за партой, даже если это аудитория английского колледжа.
				| Фразы, которые Ваш ребенок употребит в реальных диалогах, останутся навсегда в его памяти.
				| Благодаря нашей новой обучающей программе в каждом ребенке проснется активный коммуникатор.
		ul.program__slider.js-program-slider
			li.program__slide
				img(src="img/content/01_london.jpg" alt="Лондон")
				p.program__city Лондон
			li.program__slide
				img(src="img/content/02_edinburg.jpg" alt="Эдинбург")
				p.program__city Эдинбург
			li.program__slide
				img(src="img/content/vindzor.jpg" alt="Виндзор")
				p.program__city Виндзор
			li.program__slide
				img(src="img/content/03_oxford.jpg" alt="Оксфорд")
				p.program__city Оксфорд
			li.program__slide
				img(src="img/content/04_stranford.jpg" alt="Стратфорд-на-Эйвоне")
				p.program__city Стратфорд-на-Эйвоне
			li.program__slide
				img(src="img/content/05_lohnes.jpg" alt="Лох-Несс")
				p.program__city Лох-Несс
			li.program__slide
				img(src="img/content/06_Iverness.jpg" alt="Ивернесс")
				p.program__city Ивернесс
			li.program__slide
				img(src="img/content/07_eton.jpg" alt="Итон")
				p.program__city Итон