@import "mixins";
$open-sans: 'Open Sans', sans-serif;

$font-size:                  14px;
$font-size-h1:               26px;
$font-size-h2:               18px;
$font-size--small:           12px;

$black-light: rgba(37, 37, 37, 0.9);
$text-color: #252525;
$transition: 0.25s;

$primary: #d52833;
