
//$font-family--headings:       $font-family;

$font-size:                  16px;
$font-size-h1:               26px;
$font-size-h2:               26px;
$font-size-h3:               18px;
$font-size-h4:               15px;
$font-size-h5:               1em;
$font-size-h6:               1em;
$font-size--small:           12px;

$text-color: #37342F;

$transition: 0.25s;

$gray: #a0a0a0;
$primary-color: #60D3D5;
$black: #505054;
