mixin quest()
	section.quest
		.quest__inner.container
			.row
				.col-xl-9
					h2.quest__title
						span Пройди языковой квест
						| и получи богатую разговорную практику
				.col-xl-10
					p.quest__subtitle
						| Приключение для школьников
						|	от YES — это максимум активного времяпрепровождения в дружной
						| компании единомышленников, опытных педагогов и гидов!
			.row
				.col-md-4
					.quest__item
						strong.quest__requirements 144 400 руб.
						p.quest__desc-item Стоимость поездки на 9 дней
				.col-md-5.col-xl-4
					.quest__item.quest__item--second
						strong.quest__requirements от 7 до 17 лет
						p.quest__desc-item Возраст участников интенсива
				.col-md-3.col-md-auto.ml-md-auto
					.quest__item
						strong.quest__requirements Любой
						p.quest__desc-item Уровень владения английским языком
			.quest__footer
				a(href="#").quest__submit.btn Отправить заявку
				p.quest__limit
					| Количество мест ограничено. Заполните заявку прямо сейчас!
					| Устройте своему ребенку незабываемые каникулы.


