// В этом файле должны быть стили для БЭМ-блока .quest , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.quest {
	background-color: #f4f6f7;
	&__inner {
		padding-top: 25px;
		padding-bottom: 32px;
		@media (min-width: $screen-md) {
			padding-top: 48px;
			padding-bottom: 50px;
		}
		@media (min-width: $screen-xl) {
			padding-top: 78px;
			padding-bottom: 120px;
		}
	}
	&__row {
		@media (min-width: $screen-md) {
			display: flex;
			justify-content: space-between;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 11px;
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 3px;
		text-transform: uppercase;
		@media (min-width: $screen-md) {
			margin-bottom: 0;
			font-size: 28px;
			line-height: 1.43;
			letter-spacing: 0.8px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 11px;
			font-size: 30px;
			letter-spacing: 1.2px;
		}
		span {
			display: block;
		}
	}
	&__subtitle {
		margin-bottom: 22px;
		font-size: 14px;
		line-height: 22px;
		color: rgba(#252525, .6);
		@media (min-width: $screen-md) {
			margin-bottom: 31px;
			line-height: 24px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 58px;
			font-size: 18px;
			line-height: 1.56;
			letter-spacing: 0.4px;
		}
	}
	&__item {
		margin-bottom: 16px;
		&--second {
			@media (min-width: $screen-md) {
				padding-left: 16px;
			}
			@media (min-width: $screen-xl) {
				padding-left: 8px;
			}
		}

		@media (min-width: $screen-md) {
			margin-bottom: 42px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 70px;
		}
	}
	&__requirements {
		display: block;
		margin-bottom: 6px;
		font-size: 44px;
		line-height: 1;
		letter-spacing: -0.9px;
		color: #B62A33;
		@media (min-width: $screen-md) {
			margin-bottom: 11px;
			white-space: nowrap;
			font-size: 40px;
			letter-spacing: -0.8px;
		}
		@media (min-width: $screen-xl) {
			margin-bottom: 3px;
			font-size: 60px;
			line-height: 1.33;
			letter-spacing: -1.2px;
		}
	}
	&__desc-item {
		font-family: Intro, sans-serif;
		margin: 0;
		line-height: 2.14;
		color: $text-color;
		@media (min-width: $screen-md) {
			line-height: 1.29;
		}
		@media (min-width: $screen-xl) {
			font-size: 16px;
			line-height: 1.88;
		}
	}
	&__submit {
		margin-bottom: 25px;
		max-width: 270px;
		width: 100%;
		@media (min-width: $screen-md) {
			max-width: 240px;
			margin-right: 47px;
		}
	}
	&__limit {
		margin: 0;
		font-family: Intro, sans-serif;
		font-size: 16px;
		line-height: 1.25;
		color: $text-color;
		@media (min-width: $screen-md) {
			width: 100%;
			max-width: 420px;
			line-height: 21px;
		}
		@media (min-width: $screen-xl) {
			max-width: 482px;
			font-size: 16px;
			line-height: 1.38;
		}
	}
	&__footer {
		padding-top: 6px;
		@media (min-width: $screen-md) {
			padding-top: 0;
			display: flex;
			align-items: flex-start;

		}
	}
}