mixin page-top()
	header.header
		.container
			.row.justify-content-between.align-items-center
				.col
					.header__logo
						img(src="img/logo.svg" width=42 height=43 alt="Иностранные языки в Москве")
						h1.header__site-name Иностранные языки в Москве
				.col-auto
					.header__contact
						a(href="tel:89250066320").header__tel 8 925 006-63-20
						button(type="button" data-toggle="modal" data-target="#callBack").header__order заказать звонок
	section.promo
		.promo__bg
			picture
				source(media="(min-width: 425px)" srcset="img/content/top-desctop.jpg")
				//source(media="(min-width: 425px)" srcset="img/content/top-table.jpg")
				img(src="img/content/top-mobile.jpg" rel="preload" as="image" alt="Интенсивный языковой практикум Англия — Шотландия")
		.promo__inner
			.container
				.row
					.col-lg-8
						h2.promo__title
							|	Интенсивный языковой практикум Англия — Шотландия
						p.promo__subtitle
							|  Лондон — Эдинбург
							span Продолжительность: 9 дней (16-24 июня)
						a(href="#order").btn.promo__order.js-go-order Отправить заявку
