mixin timetable()
	section.timetable
		.timetable__inner.container
			.row.no-gutters.masonry
				h2.col-md-6.timetable__title.timetable__item
					span Расписание
				.timetable__item.col-md-6
					.timetable__photo
						img(src="img/content/1-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 1-й день
						p.timetable__desc
							| Прилёт. Начало языкового квеста. Посещение блошиного рынка
							| на Портобелло, Гайд-парк, Кенсингтонские сады, мемориал принцу Альберту, королевский Альберт-холл.

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/2-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 2-й день
						p.timetable__desc
							| Продолжение языкового квеста. Озеро Серпентайн, Букингемский дворец, Биг-Бэн, Трафальгаргская площадь,
							| Национальная галерея, Вестминстерское аббатство, Ковент-Гарден, Чайна таун.

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/3-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 3-й день
						p.timetable__desc
							| Продолжение языкового квеста. Тауэр, Лондонский глаз ( англ. London Eye), Монумент (англ. The Monument), Queen's Walk.

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/4-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 4-й день
						p.timetable__desc
							| Продолжение языкового квеста. Автобусная экскурсия на целый день, в ходе которой мы посетим: средневековый замок Уорвик,
							| родной город Шекспира - Стратфорд-на-Эйвоне
							| и город-университет Оксфорд

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/5-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 5-й день
						p.timetable__desc
							| Продолжение языкового квеста. Поездка в Королевскую резиденцию
							| в Виндзоре, посещение города Итон, прогулка и пикник в Виндзорском парке. Шоппинг

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/6-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 6-й день
						p.timetable__desc
							| Продолжение языкового квеста. Переезд на поезде в столицу Шотландии- город Эдинбург, посещение Эдинбургского замка, Королевская Миля, дворец Холирудхаус, музей Авторов (Роберт Бернс, Роберт Стивенсон,
							| сэр Вальтер Скотт)

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/7-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 7-й день
						p.timetable__desc
							| Продолжение языкового квеста. Трекинг по Эдинбургским холмам: Кэлтон хилл, Трон Артура, Солсберийские скалы

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/8-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 8-й день
						p.timetable__desc
							| Продолжение языкового квеста. Автобусная экскурсия
							| в средневековый замок Стерлинг —
							| архитектурную жемчужину Шотландии

				.col-md-6.timetable__item
					.timetable__photo
						img(src="img/content/9-day.jpg" width="79" height="80")
					.timetable__info
						span.timetable__subject 9-й день
						p.timetable__desc
							| Окончание языкового квеста. Переезд в Лондон, прогулка по Гайд-парку. Подведение итогов языкового квеста. Вылет в Москву.
			p.timetable__footer-text Занятия по языковой практике каждый день!

